<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Specify a JDBC datasource -->
    <Resource name ="jdbc/pool"
              auth ="Container"
              type ="javax.sql.DataSource"
              username="Test1"
              password="Test1"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://host:3306/do-all-schema?autoReconnect=true"
              validationQuery="select 1"
              maxActive="10"
              maxIdle="4"/>

</Context>